# Java
*.class
!Design-Patterns-in-OOP/06-lab/Adapter Pattern/StockMarketDataParser.class

# Python
.venv
__pycache__
.pytest_cache

# Visual Studio
.vscode

# MacOS
.DS_Store

# Executable file
*.exe
*.out

# Answer
*.ans

